In [1]:
test=10
print(test)

10

In [3]:
print(type(test))

<class 'int'>

In [6]:
text="halo dek <3"
print(text)

halo dek <3

In [8]:
print(type(True))

<class 'bool'>

In [9]:
a=b=c=400
print(a,b,c)

400 400 400

In [10]:
a=100
b=65
a*b

6500

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3

In [15]:
del thislist[1]

In [16]:
print(thislist)

['apple', 'cherry']

In [17]:
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [18]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [19]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [20]:
st=set(("123","123",456,"456"))

In [21]:
print(st)

{456, '123', '456'}